<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rohitmishra.groupbanker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="me.rohitmishra.groupbanker.GroupBankerApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".GroupBankerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FriendsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                
            </intent-filter>
        </activity>
            
         <activity
            android:name=".HistoryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddTransactionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SelectFriends"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FinishTransactionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".TabGroupActivity"
            android:label="@string/app_name" >
           
        </activity>
        
         <activity
            android:name=".TabGroup1Activity"
            android:label="@string/app_name" >
           
        </activity>
        
          <activity
            android:name=".TabGroup2Activity"
            android:label="@string/app_name" >
           
        </activity>
        
          <activity
            android:name=".FinalOverviewActivity"
            android:label="@string/app_name" >
           
        </activity>
        
         <activity
            android:name=".FriendOverviewActivity"
            android:label="@string/app_name" >
           
        </activity>
        
        
        
    </application>
    
</manifest>